# Update with your own private key / address
DEPLOYER_PRIVATE_KEY=
OWNER_ADDRESS=

# DLP_PROXY_ADDRESS=0x41AdcACfcc056A07129c3892aDda5293FF5a9c8c

# Mainnet DLP Contract
# DLP_PROXY_ADDRESS=0x7b81785Da8EACE6397480F69D56203b626C7476e

# Dev DLP Contract on mainnet
DLP_PROXY_ADDRESS=

# used for creating the contracts
DLP_NAME=PrimeInsights DLP
DLP_PUBLIC_KEY=0xcc0a295a0b0c01e912450248d6ae4791dd154e8b4320596974d816ec853544895987cc0cc0f2be8195ab23524cfac81f7689742818be5dd2a5b9ad30771a8e8d
DLP_PROOF_INSTRUCTION=https://github.com/General-Tao-Ventures/primeinsights-satya-proof/releases/download/v20/my-proof-20.tar.gz
DLP_TOKEN_NAME=DUMMY
DLP_TOKEN_SYMBOL=DUMMY
DLP_FILE_REWARD_FACTOR=10000000000000000000
DLP_OWNER_REWARD_FACTOR=75

#core contracts
ROOT_CONTRACT_ADDRESS=0xff14346dF2B8Fd0c95BF34f1c92e49417b508AD5
DATA_REGISTRY_CONTRACT_ADDRESS=0x8C8788f98385F6ba1adD4234e551ABba0f82Cb7C
# TEE_POOL_CONTRACT_ADDRESS=0x3c92fD91639b41f13338CE62f19131e7d19eaa0D
TEE_POOL_CONTRACT_ADDRESS=0xE8EC6BD73b23Ad40E6B9a6f4bD343FAc411bD99A

# Change the file name to .env
ISLANDER_RPC_URL=https://rpc.vana.org
ISLANDER_API_URL=https://vanascan.io/api
ISLANDER_BROWSER_URL=https://vanascan.io

SATORI_RPC_URL=http://rpc.satori.vana.org
SATORI_API_URL=https://api.satori.vanascan.io/api
SATORI_BROWSER_URL=https://satori.vanascan.io

MOKSHA_RPC_URL=https://rpc.moksha.vana.org
MOKSHA_API_URL=https://rpc.moksha.vana.org/api
MOKSHA_BROWSER_URL=https://moksha.vanascan.io
